<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055395741013-l145u2oagsd4v7k5ehp3o6amn7a0122h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055395741013-l145u2oagsd4v7k5ehp3o6amn7a0122h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1055395741013-3foo3cpj1fiujppt4ghm5b2os2bm18rr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChbqJnPsX_1nV0StrM6CpTliH7oMegck8</string>
	<key>GCM_SENDER_ID</key>
	<string>1055395741013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yildiz.MySmartHomes</string>
	<key>PROJECT_ID</key>
	<string>fourth-return-421315</string>
	<key>STORAGE_BUCKET</key>
	<string>fourth-return-421315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055395741013:ios:91990097b53cf15ca083dc</string>
</dict>
</plist>